@{
    ViewData["Title"] = "Начало";
}

<div class="text-left">
    <h1 class="display-4">Добре дошли.</h1>
    <p>Човек дори и добре да живее, умира.</p>
    <p>Когато този момент настъпи, този сайт ще ви помогне да изработите сами некролог за Вашите починали близки, по предварително зададен шаблон, част от който ще можете да модифицирате.</p>
    <p>След като сте готови, ще можете да запишете некролога като .PDF файл на компютъра си и да го разпечатите.</p>
    <p>За да ползвате сайта е необходимо да влезете или да се регистрирате.</p>
    <hr />
    <p>Този сайт е разработен като студентски проект, свързан със защита на дипломна работа и като такъв, за момента е напълно безплатен. Ако все пак сайта Ви е харесал и намирате съществуването му като нещо полезно и необходимо, бихте могли да направите дарение на зъздателя му, според Вашите възможности. По този начин ще дадете възможност на този проект да продължи да съществува и да се развива и така следващият път, когато имате нужда от некролог, ще можете отново да ползвате сайта.</p>
    <p>В момента можете да направите дарение през PayPal, като за това не е необходимо да имате регистрация. След като натиснетете бутона "Donate" ще бъдете прехвърлени към страницата на сайта.</p>
</div>
<hr />

<partial name="_DonatePartial" />

<h2>@ViewData["Pr"]</h2>
