@{
    ViewData["Title"] = "Начало";
}

<div class="text-center">
    <h1 class="display-4">Добре дошли.</h1>
    <p>Този сайт ще ви помогне да си изработите сами некролог по предварително зададен шаблон, част от който ще можете да модифицирате. За да ползвате сайта е необходимо да влезете или да се регистрирате.</p>
</div>
<h2>@ViewData["Pr"]</h2>
