@{
    ViewData["Title"] = "Бисквитки и политика за поверителност.";
}
<h2>@ViewData["Title"]</h2>
<hr />

<div class="text text-justify">
    <h4>Политика за употреба на „бисквитки“</h4>
    <p>
        За нас е важно да сте запознати как уебсайтът ни използва "бисквитки" и с каква цел те се съхраняват на Вашия компютър.
    </p>
    <h4>    Какво са „бисквитки“</h4>
    <p>„Бисквитките“ са малки текстови файлове, които се запазват на Вашия компютър или мобилно устройство. Функцията на „бисквитките“ е да Ви разграничат от останалите потребители на същия уеб сайт или да запазят определена информация, свързана с Вашите предпочитания. Използват се от повечето сайтове, за да улеснят Вашето сърфиране.</p>
    <p>Всяка „бисквитка“ е уникална за Вашия браузър и съдържа анонимна информация. Съдържанието включва наименованието на домейна, от която идва, „продължителността на живота“ й и стойност, обикновено под формата на произволно генериран номер.</p>
    <h4>Какви видове използваме и за какво са предназначени</h4>
    <h5>Сигурност и идентифициране</h5>
    <p><b>Целта на „бисквитките“, предназначени за сигурност на връзката, е:</b></p>
    <p>•	Да разпознаят потребителя в рамките на конкретната сесия</p>
    <p>•	Да контролират сигурността</p>
    <p>•	Да гарантират, че информацията, която потребителя въвежда, се вижда единствено от него</p>
    <p>Бисквитките за сигурност и идентифициране се изтриват автоматично след прекратяване на сесията на Вашия браузър и ли се пазят за ограничено време с цел осигуряване на безпрепятствена работа със сайта. Важно е да се отбележи, че тези, както и останалите видове бисквитки на сайта, не съхраняват въведените лични данни.</p>
    <h5>Ефективност и функционалност</h5>
    <p>„Бисквитките“ за производителност целят събиране на статистическа информация и предоставяне на съдържание спрямо индивидуалните предпочитания на потребителите. Чрез тях ние анонимно измерваме броя посещения, разгледаните страници, активността на посетителите, както и повторните посещения на сайта. Тези „бисквитки“ ни помагат да анализираме трафика, което ни позволява да подобряваме уебсайта, както и цялостното потребителско изживяване.</p>
    <h5>Управляване и изтриване на „бисквитки“</h5>
    <p>Моля, имайте предвид, че голяма част от „бисквитките“, които използваме, ще подобрят сърфирането Ви в нашия уебсайт, а останалата част са важни за гарантиране сигурността на достъпа.</p>
    <p><b>В зависимост от използваният браузър Вие имате възможност:</b></p>
    <p>•	Да разрешите или откажете съхранението на бисквитки от всички източници</p>
    <p>•	Да настроите известие, което при всяка нова "бисквитка" ще иска разрешение за приемане или отказване</p>
    <p>Повечето браузъри са настроени да приемат „бисквитки“ по подразбиране. Въпреки това, ако не желаете "бисквитките" да бъдат съхранявани на Вашия компютър, Вие имате възможност да ги ограничите чрез промяна на настройките на ползвания браузър.</p>
    <hr />
    <h2>Политика за поверителност</h2>
    <h4>Въведение:</h4>
    <p>•	Този сайт се ангажира с опазването на личните данни на посетителите. В тази декларация се обяснява как ще приемем вашата лична информация.</p>
    <p>•	Ще ви помолим да се съгласите с използваните в сайта бисквитки, когато за първи път го посетите. С използването на този уеб сайт и съгласяването с неговата политика, вие се съгласявате с използваните от сайта бисквитки в съответствие с условията на тази политика.</p>
    <h4>Събиране на лична информация:</h4>
    <p><b>Ние може да събираме, съхраняваме и използваме следните видове лична информация:</b></p>
    <p>•	Информация за вашия компютър и за посещенията ви при използването на този сайт (включително вашия IP адрес, географско местоположение, тип на браузъра и версията, операционна система, дължина на посещение, посетените страници);</p>
    <p>•	Информация, която ни предоставяте при регистрация в нашия сайт (включително имейл адрес);</p>
    <p>•	Информация, която предоставяте при попълването профила ви в нашия сайт (включително вашето име, адрес, телефон);</p>
    <p>•	Информация, съдържаща се в или свързана с всякаква комуникация, направена/изпратена чрез нашия уебсайт (включително съдържанието на комуникацията, мета данни свързани с комуникацията);</p>
    <p>•	Всяка друга лична информация, която сте избрали, да изпратите до нас;</p>
    <p><b>Преди да разкриете пред нас личната информация на друго лице (трето лице), трябва да получите разрешение от това лице, както за разкриването така и за обработването на личните им данни в съответствие с тази политика.</b></p>

    <h4>Използване на личните Ви данни</h4>
    <p><b>Лична информация, предоставена ни от вас ще се използва за целите, определени в тази политика. Ние може да използваме вашата лична информация за:</b></p>
    <p>•	Администрираме нашия сайт и бизнеса;</p>
    <p>•	Персонализиране на нашия сайт за вас;</p>
    <p>•	За да може да използвате  услугите на нашия уебсайт;</p>
    <p>•	За изпращане на имейл известия, които сте поискани или очаквали;</p>
    <p><b>Ние няма да предоставим вашата лична информация на трети лица независимо за какви цели  без вашето изрично съгласие.</b></p>

    <h4>Разкриване на лична информация</h4>
    <p><b>Ние може да разкрием вашата лична информация:</b></p>
    <p>•	До такава степен, че сме длъжни да го направим по закон;</p>
    <p>•	Във връзка с всякакви текущи или бъдещи съдебни производства;</p>
    <p>•	За упражняване или защита на нашите законови права (включително предоставяне на информация на други лица за целите на борбата с измамите и намаляване на кредитния риск);</p>
    <p><b>С изключение на предвиденото в тази политика, ние няма да предоставим лична информация на трети страни.</b></p>

    <h4>Интернационален обмен на данни</h4>
    <p>•	Личната информация, която публикувате на нашата интернет страница или изпратите за публикуване на нашия сайт може да бъде на разпространена, чрез интернет, по целия свят. Ние не може да попречим на използването или злоупотребата с такава информация от други.</p>
    <p>•	Вие изрично се съгласявате с прехвърлянето на лична информация, описана в този раздел.</p>
    <h4>Запазване на личната информация</h4>
    <p>Този раздел описва процедурите за съхранение на данни, които са създадени, за да гарантират че ние се съобразяваме правните задължения във връзка със задържането и заличаване на личните данни на нашите потребители.</p>
    <p>
        Личната информация, която обработваме, за всякакви цели не трябва да се съхранява за по-дълго, отколкото е необходимо за тази цел или тези цели.
        Независимо от останалите разпоредби на настоящия раздел, ние ще запазим документи (включително електронни документи), съдържащи лични данни:
    </p>
    <p>•	До такава степен, че ние сме длъжни да го правим по закон;</p>
    <p>•	Ако вярваме, че документите могат да бъдат от значение за всички текущи или бъдещи съдебни производства;</p>
    <p>•	За упражняване или защита на нашите законови права (включително предоставяне на информация на други лица за целите на борбата с измамите и намаляване на кредитния риск);</p>
    <h4>Защита на личната информация</h4>
    <p>Ние ще предприемем разумни технически и организационни мерки, за да предотвратим загубата, злоупотребата или изтриването на Вашата лична информация.</p>
    <p>Ние ще съхраняваме цялата лична информация, която предоставяте на нашите защитени с парола сървъри.</p>
    <p>Вие се съгласявате, че предаването на информация по интернет в своята същност е несигурно, а ние не можем да гарантираме сигурността на данните, изпратени по интернет.</p>
    <p>Вие носите отговорност за запазване на паролата, която използвате за достъп до нашия уеб сайт;</p>
    <h4>Изменения</h4>
    <p>•	Имаме право да актуализираме тази политика от време на време, като публикуваме нова версия на нашия уебсайт.</p>
    <p>•	Можете да разгледате тази страница от време на време, за да се гарантира, че сте доволни с всякакви промени в тази политика.</p>
    <p>•	Ние може да Ви известяваме за промени в тази политика по електронна поща или чрез система за лични съобщения в нашата интернет страница.</p>
    <h4>Вашите права</h4>
    <p>•    Може да поискате да ви предоставим всякаква лична информация, която съхраняваме за вас. Предоставяне на такава информация ще бъде предмет на плащане на такси ако информацията трябва да бъде изпратена с физически носител или по друг начин който изисква плащане на такси.</p>
    <p>•    Ние може да не разкриваме всяка лична информация, която е поискана до степента, позволена от закона.</p>
</div>
