@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<img width="250px" src="~/Pictures/Frames/1.gif" alt="Alternate Text" />
