@{
    ViewData["Title"] = "Успешно изпратен и-мейл";
}

<div class="bg-info p-4 text-white rounded-lg">
    <h3>Вие успешно ни изпратихте и-мейл. Благодарим Ви. Ще се свържем с Вас възможно най-скоро.</h3>
    <a asp-controller="Home" asp-action="Index" class="btn btn-warning"><b>Назад</b></a>
</div>
