@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Потвърждение на мейла";
}

<h1>@ViewData["Title"]</h1>
<hr />
<p>Вашият и-мейл е потвърден успешно. Вече можете да се логнете в сайта.</p>
<hr />