@{
    ViewData["Title"] = "Указания за работа със сайта:";
}
<h2>@ViewData["Title"]</h2>
<hr />
<p>Този видеоклип ще Ви покаже как да се възползвате максимално от възможностите на сайта. Силно Ви съветваме да го изгледате преди да започнете работа със сайта. За да гледате видеото на цял екран, цъкнене върху логото на YouTube в долната част на клипа или го заредете директно в браузъра от <a target="_blank" href=" https://www.youtube.com/watch?v=H13_hf34cuk&feature=emb_title"><b>ТОЗИ линк</b></a>.</p>
<div class="text-center">
    <iframe width="550px" height="300px" src="https://www.youtube.com/embed/H13_hf34cuk">
    </iframe>
</div>
<hr />
<p>Очаквайте скоро още указания за използването на този сайт. Работим по въпроса да го направим максимално лесен и достъпен за ползване.</p>