@{
    ViewData["Title"] = "Указания за работа със сайта:";
}
<h2>@ViewData["Title"]</h2>
<hr />
<p>Очаквайте скоро подробни указания за използването на този сайт, както и видео материал с подробно обяснение на неговите възможности.</p>
<p>Работим по въпроса да го направим максимално лесен и достъпен за ползване.</p>