@model Funeral.App.ViewModels.UploadCrossesFilesViewModel
@{
    ViewData["Title"] = "Качване на кръст";
}

<link href="~/css/UploadCross.css" rel="stylesheet" />

<div class="row">
    <h1 class="mr-5">Качване на нов кръст</h1>
    <a class="btn btn-info text-md-center mr-3" asp-controller="Admin" asp-action="UploadText">Качване на текст</a>
    <a class="btn btn-success text-md-center" asp-controller="Admin" asp-action="UploadFrame">Качване на рамка</a>
</div>

<h4>Можете да качвате само файлове с разширение .jpg, .png и .gif.</h4>
<hr />

<form method="post" enctype="multipart/form-data" asp-controller="Admin" asp-action="UploadCross">
    <input id="inputBtn" type="file" name="imgFile" />
    <input id="uploadBtn" type="submit" value="Качи файл." />
    <hr />

    <h4>@Model.UploadMessage</h4>
</form>
<hr />
<h2>Всички кръстове:</h2>
<p>Можете да премахнете само кръст, който в момента не се използва от потребител, като част от негов некролог. В противен случай, некролога на потребителя който го ползва, ще остане без кръст. Ако некролога е с неприемливо съдържание, можете като администратор първо да премахнете некролога, след което и всички свързани с него елементи.</p>
<section id="all-frames">

    @foreach (var cross in Model.AllCrosses)
    {
        <img class="frame" width="150px" src="@cross.FilePath" alt="Alternate Text" />
        
        @if (!cross.IsUsed)
        {
            <a asp-controller="Admin" asp-action="DeleteCross" asp-route-crossId="@cross.CrossId"><i class="deletable fas fa-trash-alt"></i></a>
        }
    }

</section>




