@model ICollection<Funeral.App.ViewModels.AllTextsViewModel>
@{
    ViewData["Title"] = "Качване на текст";
}
<div class="row">
    <h1 class="mr-5">Качване на текст</h1>
    <a class="btn btn-info text-md-center mr-3" asp-controller="Admin" asp-action="UploadFrame">Качване на рамка</a>
    <a class="btn btn-success text-md-center" asp-controller="Admin" asp-action="UploadCross">Качване на кръст</a>
</div>
<hr />
<form class="form-group" method="post">
    <label for="funeral-text">Въведете текст:</label><br>
    <textarea rows="3" class="form-control" name="funeralText" type="text" id="funeral-text" value=""></textarea>
    <br />
    <input class="btn btn-primary" type="submit" value="Въведи">
</form>
<hr />
<h4>Всички текстове:</h4>
<section>
    @foreach (var text in Model)
    {
        <p>@text.TextTemplate</p>
        <hr />
    }
</section>

